@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Change Password | RetroConsoleStore";
}

<div class="contact-container">
    <h2 class="retro-font-pixel">Change Password</h2>
    <div class="famicom-controller-ports">
        <span></span>
        <span></span>
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="message-box retro-font-8bit">@TempData["ErrorMessage"]</div>
    }
    @using (Html.BeginForm("ModifyPassword", "User", FormMethod.Post))
    {
        <div>
            <label for="OldPassword">Old Password</label>
            <input type="password" name="OldPassword" id="OldPassword" required placeholder="Enter your old password" />
        </div>
        <div>
            <label for="newPass1">New Password</label>
            <input type="password" name="newPass1" id="newPass1" required placeholder="Enter new password" minlength="8" />
        </div>
        <div>
            <label for="newPass2">Confirm New Password</label>
            <input type="password" name="newPass2" id="newPass2" required placeholder="Confirm new password" minlength="8" />
        </div>
        <div class="button-container">
            <button type="submit" class="retro-font-8bit">Submit</button>
        </div>
    }
    <div class="famicom-cartridge-slot"></div>
    <p class="retro-font-8bit" style="margin-top: 20px;">
        <a href="@Url.Action("UserPage", "User")" style="color: #ffcc33;">Back to Profile</a>
    </p>
</div> 