@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Catalogue | RetroConsoleStore";
}

<div class="catalogue-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center mb-5">
                <h1 class="retro-font-pixel">Game Catalogue</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="catalogue-content">
                    <!-- Catalogue content will go here -->
                </div>
            </div>
        </div>
    </div>
</div> 
