
@{
    ViewBag.Title = "_Header";
}

<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
        </a>
    </div>
    LUNA
    <span>v.1.3</span>
    <div id="navbar" class="navbar-collapse collapse">
        <div class="left-nav-toggle">
            <a href="">
                <i class="stroke-hamburgermenu"></i>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class=" profil-link">
                <a href="#">
                </a>
                <span class="profile-address">luna@company.io</span> <img src="images/profile.jpg" class="img-circle" alt="" ;
            </li>
        </ul>
    </div>
</div>

